<div class="card h-100 shadow-lg border-0 rounded-3 overflow-hidden bg-light">
    @if(image()){
        <div>
            <img [src]="image()" [alt]="codiceStudente()" class="img-fluid w-100 object-fit-cover">
        </div>
    }
    <div class="card-body">
        <h4 class="card-title fw-semibold text-center text-primary">{{ codiceStudente() }}</h4>
        <p class="card-text text-muted text-end">Voto: {{ voto() }}</p>
        <button class="btn btn-primary btn-sm mt-2" (click)="selezionato.emit()"> Dettaglio </button>
    </div>
</div>
