@if (errorStore.error()) {
  <div class="alert alert-danger alert-dismissible fade show m-0">
    {{ errorStore.error() }}
    <button type="button" class="btn-close" (click)="errorStore.clear()"></button>
  </div>
}

@if (loadingService.isLoading()) {
  <div class="progress" style="height: 4px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 100%"></div>
  </div>
}

<div class="container py-2">

  <div class="page-header-sticky mb-3 d-flex justify-content-between align-items-center">

    <!-- Titolo -->
    <div class="flex-grow-1 text-center">
      <h1 class="fw-bold text-uppercase text-navy">{{ title }}</h1>
      <p class="fw-bolder text-muted">Gestisci e consulta le valutazioni degli studenti</p>
    </div>

    <!-- Toggle Dark Mode -->
    <div class="darkmode-toggle" (click)="toggleDarkMode($event)">
      <i class="bi bi-sun-fill icon-sun"></i>
      <i class="bi bi-moon-fill icon-moon"></i>
      <div class="toggle-ball"></div>
    </div>

  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-dark mb-3 shadow-sm rounded-3 py-1 valutazioni-header">
    <div class="container d-flex justify-content-center">
      <a class="navbar-brand fw-bold fs-2 text-uppercase" routerLink="/valutazioni">
        Valutazioni
      </a>
    </div>
  </nav>

  <router-outlet />
</div>

