<div class="container mt-4">

  @if (loading()) {
    <div class="text-center my-5">
      <div class="spinner-border text-navy" role="status"></div>
    </div>
  }

  @else if (errore()) {
    <div class="alert alert-danger text-center">
      {{ errore() }}
    </div>
  }

  @else {
    @if (valutazione()) {
      <div class="card shadow p-4">
        <h2 class="text-navy mb-3">
          Studente: {{ valutazione()!.codiceStudente }}
        </h2>

        <p><strong>Edizione:</strong> {{ valutazione()!.codiceEdizione }}</p>
        <p>
          <strong>Voto:</strong> 
          <span [ngClass]="classeBadge(valutazione()!.voto)">
            {{ valutazione()!.voto }}
          </span>
        </p>
        <p><strong>Livello:</strong> {{ valutazione()!.livelloRaggiunto }}</p>
        <p><strong>Data:</strong> {{ valutazione()!.data }}</p>
      </div>
    } @else {
      <div class="alert alert-warning text-center">
        Valutazione non trovata.
      </div>
    }
  }

  <button class="btn btn-navy text-white mt-3" routerLink="/valutazioni">
    Torna alla lista
  </button>

  <a [routerLink]="['/valutazioni', id, 'modifica']" class="btn btn-primary text-white ms-3 mt-3">
    Modifica
  </a>

</div>


