<div class="container mt-4">

  <div class="mb-3">
    
    <div class="card shadow-sm">
      
      <div class="d-flex align-items-center position-relative">
        <h4 class="card-title titolo-linea text-navy text-center flex-grow-1 mt-1">
          Cerca o crea valutazioni
        </h4>
        
        <button class="btn btn-link p-0 position-absolute end-0 me-2 freccia-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#filtroCollapse">
          <i class="bi bi-chevron-down fs-4"></i>
        </button>
      </div>

      <div class="card-body border-bottom pt-1 pb-2">

        <div class="collapse mt-1" id="filtroCollapse">
          <app-filtro-valutazioni (filtroApplicato)="onFiltro($event)" />
        </div>

      </div>
    </div>
  </div>

  @if (facade.loading()) {
    <div class="text-center my-5">
      <div class="spinner-border" role="status"></div>
    </div>
  }

  @else if (facade.errore()) {
    <div class="alert alert-danger text-center">
      {{ facade.errore() }}
    </div>
  }

  @else if (valutazioniFiltrate().length === 0) {
    <div class="alert alert-info text-center">
      Nessun elemento trovato.
    </div>
  }

  @else {
    <div class="lista-scroll p-1">
      <div class="row g-4">
        @for (item of valutazioniFiltrate(); track $index) {
          <div class="col-12 col-sm-6 col-lg-3">
            <app-card
              [codiceStudente]="item.codiceStudente"
              [voto]="item.voto"
              [image]="getImmagineStudente(item.codiceStudente)"
              (selezionato)="onCardClick(item)"
            />
          </div>
        }
      </div>
    </div>
  }

</div>
